.portfolio-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}

.krishna{
    margin-top: 4rem;
    margin-bottom: 2rem;
}



.h5{
    font-size: 1.5rem;
}

.h2{
    font-size: 3rem;
}

.item{
    margin-top: 5rem;
    display: flex;
    margin-right: 5rem;
    margin-left: 5rem;
    flex-wrap: wrap;
    justify-content: center;
}

.portfolio-item {
    background: var(--color-bg-variant);
    padding: 1.2rem;
    width: 20rem;
    height: 30rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
    margin-right: 5rem;
    margin-left: 5rem;
    margin-bottom: 5rem;
}

.portfolio-item:hover {
    border-color: var(--color-primary-variant);
    background: transparent;
}

.portfolio-item p {
    /* Set line height to control the number of lines */
    line-height: 1.5; /* Adjust as needed to fit four lines */
    /* Limit the maximum height to ensure it displays only four lines */
    height: 6em; /* Assuming each line is 1.5em high (4 lines * 1.5em) */
    /* Allow text to wrap within the container */
    overflow-y: scroll;
    text-overflow: ellipsis; /* Display an ellipsis (...) for overflowed text */
    white-space: normal; /* Allow text to wrap within the container */
}



.portfolio-item-image img {
    border-radius: 1.5rem;
    height: 12rem;
}

.portfolio-item h3{
    font-display: bold;
    margin-top: 1.2rem ;
}

.portfolio-item-cta {
    display: flex;
    gap: 1rem;
    margin-top: 2.5rem;
    margin-bottom: auto;
}



/* ========== MQ (MEDIUM DEVICES) =========*/


@media screen and (max-width: 1024px) {
    .portfolio-container {
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
        margin-top: 10px;
    }

    article {
        margin-top: 15px;
    }

    .portfolio-item-cta > :nth-child(1) {
        margin-right: 10px;
    }
}

/* ========== MQ (SMALL DEVICES) =========*/


@media screen and (max-width: 600px) {
    .portfolio-container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}