.container.contact-container {
    width: 58%;
    display: grid;
    gap: 5%;
    height: 38vh;
}
.krishna1{
    margin-top: 4rem;
}



.h5{
    font-size: 1.5rem;
}

.h2{
    font-size: 3rem;
}

.contact-option {
    background: var(--color-bg-variant);
    padding: 1rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
    word-break: break-all;
    margin: 2rem 2rem; /* Added margin */
}

.contact-option:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
}

.contact-option-icon {
    font-size: 1.5rem;
    margin-bottom: 3rem;
}

.contact-option h4, /* Changed from h5 to h4 */
.contact-option h5 {
    color: var(--color-light);
    font-size: 0.8rem;
    margin: 0; /* Added to reset margin */
}

.contact-option a {
    margin-top: 0.7rem;
    display: inline-block;
    font-size: 0.8rem;
    color: var(--color-light); /* Added text color */
    text-decoration: none; /* Added text decoration */
}

.contact-option a:hover {
    text-decoration: underline; /* Added hover text decoration */
}


/* FORM */
form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

input, textarea {
    width: 100%;
    padding: 1.5rem;
    border-radius: .5rem;
    background: transparent;
    border: 2px solid var(--color-primary-variant);
    resize: none;
    color: var(--color-white);
}


/* ========== MQ (MEDIUM DEVICES) =========*/


@media screen and (max-width: 1024px) {
    .container.contact-container {
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .contact-option {
        margin: 10px 0px;
    }

    input, textarea {
        margin-bottom: 12px;
    }
}

/* ========== MQ (SMALL DEVICES) =========*/


@media screen and (max-width: 600px) {
    .container.contact-container {
        width: var(--container-width-sm);
    }
}